<div class='w-full px-2 lg:py-6 bg-black text-white'>
  <div class='max-w-7xl mx-auto w-full flex justify-between items-center'>
    <div class='flex items-center space-x-4'>
      <h1 class='text-2xl font-bold'>Angular</h1>
    </div>
    <div class='flex items-center space-x-4'>
      <!-- Not Authenticated -->
      <div *ngIf="!authState.isAuthenticated" class='flex items-center space-x-4'>
        <a routerLink="/login" class='text-sm font-medium text-white hover:text-gray-300'>Login</a>
      </div>
      <!-- Authenticated -->
      <div *ngIf="authState.isAuthenticated && authState.user" class='flex items-center space-x-2'>
        <img *ngIf="authState.user.avatar" [src]="authState.user.avatar" alt="User Avatar" class='w-8 h-8 rounded-full'>
        <div class='text-sm'>
          <div class='font-medium'>{{ authState.user.name }}</div>
          <div class='text-gray-300'>{{ authState.user.email }}</div>
        </div>
        <button (click)="logout()" class='ml-4 text-sm font-medium text-white hover:text-gray-300'>Logout</button>
      </div>
    </div>
  </div>
</div>
